/* Path: styles/index.css */


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

span:focus
{
    outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(45,253,149);
  background: linear-gradient(15deg, rgba(45,253,149,1) 0%, rgba(88,255,229,1) 49%, rgba(34,137,195,1) 100%);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
}

.topButtons {  
  align-self: flex-end;
  display: flex;
}

.topButton {
  background-color: #EBFFF3;
  color: #2d3142c1;
  font-size: 25px;
  padding: 14px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 6px 6px;
}

.searchBarDiv { /* the div containing the search form with the button and input*/
  flex-grow: 1;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 150px;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #2d3142;
}

.searchBarForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#searchInput {
  width: 60vw;
  height: 60px;
  border: 0px;
  border-radius: 5px;
  background-color: #EBFFF3;
  padding: 10px;
  padding-left: 60px;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url("/resources/search-icon.svg");
  background-position: 15px 15px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  box-shadow: 7px 10px #2d3142c1;
}

