/* Path: styles/index.css */

.mainDiv {
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 98vw;
}

.topButtons {
    align-self: flex-end;
    display: flex;
}

.searchBarDiv { /* the div containing the search form with the button and input*/
    flex-grow: 1;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    transition: .5s;
    font-size: 250px;
    margin: 0px;
    margin-bottom: 10px;
    color: #e9c46a;
    text-shadow: 1px 1px #e76f51,
    2px 2px #e76f51,
    3px 3px #e76f51,
    4px 4px #e76f51,
    5px 5px #e76f51,
    6px 6px #e76f51,
    7px 7px #e76f51,
    8px 8px #e76f51,
    9px 9px #e76f51,
    10px 10px #e76f51,
    11px 11px #e76f51;
}

.title:hover {
    transform: translate(-5px, -5px);
    text-shadow: 1px 1px #e76f51,
    2px 2px #e76f51,
    3px 3px #e76f51,
    4px 4px #e76f51,
    5px 5px #e76f51,
    6px 6px #e76f51,
    7px 7px #e76f51,
    8px 8px #e76f51,
    9px 9px #e76f51,
    10px 10px #e76f51,
    11px 11px #e76f51,
    12px 12px #e76f51,
    13px 13px #e76f51,
    14px 14px #e76f51,
    15px 15px #e76f51,
    16px 16px #e76f51,
    17px 17px #e76f51,
    18px 18px #e76f51,
    19px 19px #e76f51,
    20px 20px #e76f51,
    21px 21px #e76f51,
    22px 22px #e76f51,
    23px 23px #e76f51,
    24px 24px #e76f51;

}

#searchInput {
    width: 60vw;
    height: 60px;
    padding: 10px;
    padding-left: 60px;
    font-size: 16px;
    background-position: 15px 15px;
    background-size: 30px 30px;
    box-shadow: 1px 1px #e76f51,
    2px 2px #e76f51,
    3px 3px #e76f51,
    4px 4px #e76f51,
    5px 5px #e76f51,
    6px 6px #e76f51,
    7px 7px #e76f51,
    8px 8px #e76f51,
    9px 9px #e76f51,
    10px 10px #e76f51,
    11px 11px #e76f51;
}

