body {
font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top, #B0C4DE 0%, #90EE90 100%);
}

span:focus
{
    outline: none;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
}

.topBar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topButtons {  
  align-self: flex-end;
  display: flex;
}

.topButton {
  background-color: #EBFFF3;
  color: #2d3142c1;
  font-size: 25px;
  padding: 14px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 6px 6px;
}

.searchBarDiv {
  flex-grow: 1;
}

.searchBarForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contentDiv {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.filtersDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19vw;
  background-color: #2D3142;
  color: #EBFFF3;
  padding: 10px;
  border-radius: 6px;
  margin: 10px;
}

.searchResultsDiv {
  width:100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#searchResults {
  height: 70vh;
  overflow: auto;
}


.card {
  width: 80vw;
  background-color: #FFF6EB;
  border: 1px solid #FFF6EB;
  border-radius: 3px;
  box-shadow: 0 1px 3px #2D3142;
  margin-bottom: 16px;
  padding: 16px;
}

#searchInput {
  width: 60vw;
  height: 60px;
  border: 0px;
  border-radius: 5px;
  background-color: #EBFFF3;
  padding: 10px;
  padding-left: 60px;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url("/resources/search-icon.svg");
  background-position: 15px 15px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  box-shadow: 7px 10px #2d3142c1;
}